@mixin flex-center($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-direction {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin text-styles {
    font-size: 1rem;
    font-style: italic;
    font-weight: 800;
}

@mixin  body-Width($width) {
    width: $width
}

@mixin  disableFooter {
    opacity: 0.4;
    pointer-events: none;
}